# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*.local
.env.local
.env.development.local
.env.production.local
.env.test.local

# OS metadata
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Dependency & lockfiles
package-lock.json
.pnpm-debug.log
.pnp.*
*.tsbuildinfo

# Coverage / testing
coverage/
.nyc_output/

# Misc
*.log
*.tgz

# Firebase or Vercel (optional)
.firebase/
.vercel/
