{
  "openapi": "3.1.0",
  "info": {
    "title": "MovingWallet \u2013 GPT Actions API",
    "version": "1.3.1",
    "description": "API para integraci\u00f3n t\u00e9cnica con GitHub, Vercel y funcionalidades avanzadas del backend GPT.",
    "x-logo": {
      "url": "https://movingwallet.io/logo.svg"
    },
    "externalDocs": {
      "url": "https://github.com/movingwallet/docs",
      "description": "Documentaci\u00f3n t\u00e9cnica"
    }
  },
  "servers": [
    {
      "url": "https://app.movingwallet.io",
      "description": "Producci\u00f3n"
    }
  ],
  "tags": [
    {
      "name": "GitHub",
      "description": "Operaciones con repositorios y archivos"
    },
    {
      "name": "Vercel",
      "description": "Despliegues y logs"
    },
    {
      "name": "Sistema",
      "description": "Endpoints de monitoreo"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Token \u00fanico para GitHub y Vercel"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "code"
        ]
      },
      "GitHubFileRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "url"
        ]
      },
      "PRResponse": {
        "type": "object",
        "properties": {
          "prUrl": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "merged",
              "failed"
            ]
          }
        }
      },
      "LogsResponse": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {}
}